Library/metadata
Library/ScriptsAssemblies/*
Temp
obj/*


Assembly*
*.csproj
*.pidb
*.sln
*.userprefs
*.user
*.suo
*.dwlt
*.log


Library/SharedCache.db
Library/assetDatabase3
Library/guidmapper
Library/ScriptAssemblies/CompilationCompleted.txt
Library/AssetServerCacheV3
Library/InspectorExpandedItems.asset
Library/expandedItems

*.umbracache
Assets/Bundles/UI/Sources/
Assets/Bundles/Audio/Sci-Fi Music Pack.meta
_ReSharper.Exowars-csharp/
Library/
_ReSharper.Work1-csharp/

Assets/Temp.meta
Assets/Resources/GitRevision.txt

.nuget/
packages/